html{
 background: url("background1.jpg");
 background-size: cover;
}

body{
  font-family: "Trebuchet MS", Helvetica, serif;

	width: 80%;
	height: 90%;
	left: 12.5%;
	right: 12.5%;
	top: 15%;
	background-color: rgba(250, 255, 255, 0.6);
	text-align: justify;
	margin: auto;
}
/*xxxxxxxxxxxxxxxxxxxxxx MAIN BUTTONS xxxxxxxxxxxxxxxxxxxxxxxxxx*/

.button{
  display: inline-block;
  border-radius: 50px 30px 50px 30px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  height: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.arrowdown{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid black;
}

#originbtn{
  background-image: ;
}

#doctrinebtn{
  background-image: ;
}

#validitybtn{
  background-image: ;
}

#supportbtn{
  background-image: ;
}

#backbtn{

}

/*xxxxxxxxxxxxxxxxxxxxxx TABS xxxxxxxxxxxxxxxxxxxxxxxxxx */
/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*xxxxxxxxxxxxxxxxxx Other Stuff xxxxxxxxxxxxxxxxxxx*/
#mainTitle{

}

#introParagraph{

}

#pagetitle{

}
